* {
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(57, 153, 100);
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.winner {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    height: 164px;
    width: 164px;
    border-radius: 50%;
    cursor: pointer;
}

.btnbox {
    margin-top: 60px;
    height: 200px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.scorebox {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    width: 400px;
    margin-top: 50px;
}

p {
    font-size: 2rem;
}

.msgbox {
    height: 70px;
    width: 700px;
    background-color: rgb(5, 5, 35);
    margin-top: 30px;
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

.heading {
    height: 80px;
    width: 100%;
    background-color: rgb(19, 19, 45);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
}

img {
    height: 160px;
    width: 160px;
    border-radius: 50%;
}

.user-score {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comp-score {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}